@model NewDeck


@{
    string generatedDeck = Model.deck_id;

}

<form asp-method="Post" asp-action="ViewCards">
    <input type="hidden" name="id" value="@generatedDeck"</>
    <button type="submit">Draw 5 Cards</button>

</form>
