@model DrawCardModel

<h1>Your Hand of Cards</h1>
<p>Cards remaining in deck: @Model.remaining</p>


@{


        @foreach(Card c in Model.cards)
        {
            <p>@c.value @c.suit</p><img src="@c.image"/>
        }

}